<div id="logreg-forms">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Crear cuenta</h1>
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
      <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
    </div>
    <p style="text-align:center"> OR  </p>
    <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">-->
    <%= f.text_field :username, class: "form-control", placeholder: "Nombre" %>
    <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Correo electronico" %>
    <br>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Contraseña" %>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em> <br>
    <% end %>
    <br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", placeholder: "Confirmar contraseña" %>
    <br>
    <%= f.submit "Registrarse", class: "btn btn-success btn-block" %>
    <hr>
    <%= link_to "Iniciar sesion", new_user_session_path, :class => "nav-link btn btn-sm btn-outline-success" %>
  <% end %>
            
</div>
